/*Tiedostossa on asettelu "kirjaudu.html" tiedostolle, sen laatikoille ja elementeille.*/

body {
    background-color: rgb(206, 206, 206);
}


.laatikko {
    display: inline-block;
    place-content: center;
    margin-left: 10%;
    margin-top: 5%;
    background: rgb(255, 255, 255);
    height: 40vw;
    width: 35vw;
    border-radius: 25px;
    filter: drop-shadow(2rem 2rem 1.5rem #4245);
}


.laatikko p {
    text-align: center;
    margin-top: 4vw;
    margin-bottom: -2vw;
    font-size: 0.9vw;
    font-family: 'Roboto';
}


.laatikko h1 {
    font-size: 1.8vw;
    text-align: center;
    margin-top: 2vw;
    margin-bottom: -5vw;
    margin-bottom: 7vw;
    color: rgb(24, 119, 242);
    font-family: 'Roboto';
}


.laatikko input[type=text], .laatikko input[type=password] {
    border-radius: 5px;
    height: 2.1vw;
    width: 17vw;
    font-size: 1.2vw;
    margin-bottom: -0.5vw;
}


.laatikko input[type=submit] {
    margin-top: 3vw;
    background-color: rgb(24, 119, 242);
    color: rgb(255, 255, 255);
    height: 2.5vw;
    width: 17vw;
    border-radius: 5px;
    outline: none;
    font-size: 1.5vw;
    font-family: 'Roboto';
}

.laatikko input[type=submit]:hover {
    cursor: pointer;
    background-color: rgb(31, 126, 252);
}

