<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Omat Arvostelut</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='elokuvan_tiedot.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='koti.css') }}">
</head>
<body>
    <div class="navigointi">
        <a><div class="pudotusvalikko">
            <button class="pudotus"><img class="logo" src="{{ url_for('static', filename='profiili_kuva.png') }}"></button>
            <div class="pudotusvalikko-sisalto">
            <form action = "/lähetä_arvostelut" method = "post"><input type="submit" value="Arvostelut"></form>
            <form action = "/vaihda_nimi" method = "post"><input type="submit" value="Vaihda Nimi"></form>
            <form action = "/vaihda_salasana" method = "post"><input type="submit" value="Vaihda Salasana"></form>
            <form action = "/kirjaudu_ulos" method = "post"><input type="submit" value="kirjaudu Ulos"></form>
            </div>
        </div></a>
        <a><form action = "/haku" method = "post"><input type="search" placeholder="Hae Elokuvia" name="hakusana"></form></a>
    </div>
    <div class="arvostelut">
        <ul>
            {% for arvostelu in arvostelut %}
            <li class="arvostelu">
                <h2>{{arvostelu.nimi}}</h2>
                <div style="display: inline-block;">
                    <p>{{arvostelu.arvosana}}</p>
                    {% for _ in range(arvostelu.arvosana | int) %}
                    <p>⭐</p>
                    {% endfor %}
                </div>
                <p>{{arvostelu.kommentti}}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
